body
{max-width: 1000px;
 margin: auto;
 font-family : Roboto;
font-size: 16px;
color: black;
background-color: orange;
}

h4{
    font: italic small-caps bolder 28px arial, sans-serif;
}

div{
    
    margin-top: 5px;
    padding: 10px;
}

#image{
    float: left;
    padding: 0px 20px 20px 20px;
}

#background-image{
    background-image: url("image/bat_cover.jpg");
    height: 350px;
    padding-top: 50px;
    color: #fff;
    margin-top: 25px;
}

#content{
    background-color: rgba(0,0,0,0.7);
    max-width: 450px;
    padding: 30px 20px;
    margin-top: 50px;
}

#identity{
    float: left;
}

#left{
    float: left;
}

#right{
    float: right;
}

#badvillains{
    float:left;
    width: 100%;
    border-collapse: collapse;
}

th,td{
    padding: 15px;
    border: 1px solid black;
    height: 30px;
     background-color: lightgoldenrodyellow;
}

th{
    text-align: left; 
    background-color: gold;
}

heading{
    
    margin: 0;
    padding: 0;
    float:right;
    width: 200%;
    border-collapse: collapse;
    text-decoration: none;
}

li a{
display: block;
color: black;
padding: 14px 16px;
text-decoration: none;
float: right;
}

.logo{
    float: left;
    height: 80px;
}

#header{
    padding: 5px 0px;
    border-bottom: 1px solid;
}

#movies{
    float: left;
}

.thumbnail {
display: inline-block;
height: auto;
padding: 4px;
margin-bottom: 20px;
background-color: lightgoldenrodyellow;
border: 1px solid #a4a4a4;
text-align: center;
color: #666;
margin: 40px;
}

#link{
    text-decoration: none;
     padding: 15px;
    height: 20px;
     text-align: right;
     width: 100%;
     color: black;
}
